h1{
	background-color:deeppink;
	font-size:20px;
	color:blue;
	
}

h2{
	background-color:deepskyblue;
	font-size:20px;
	color:gray;
	text-align:center;
}

h3{
	background-color:firebrick;
	font-size:20px;
	color:greenyellow;
	text-align:right;
}

p{
	background-color:orange;
	font-size:25px;
	font-style:italic;
	color:darkblue;
}